<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<style>
.cursored {
  cursor: pointer;
}
.cursored:hover {
  background: #eee;
  color: #000;
}
</style>
</head>
<body>
<div class="col-xs-4">
  <div id="vehicle_logs_list" style="height:100vh;overflow-y: auto;"></div>
</div>
<div class="col-xs-8">
  <div id='map' style="width:100%;height:100vh;"></div>
</div>
<div id="erp_box_holder" style="display:none;position:absolute;bottom:0;left:0;height:600px;background:#fff;width:450px;border:1px solid #eee;margin-left:20px;font-size:11px;">
 <div style="padding:10px; background:#404040; color: #fff">
    ERP crosses for: <span id="vehicle_id_erp_holder"></span>
    <span class="cursored pull-right" onclick="app.closeerpbox()">Close</span>
 </div>
 <div id="erp_crosses_holder"></div>
</div>
<script src="/static/js/build/bundle.js"></script>
</body>
</html>

